/Bitwise.class
/Chyba1.class
/Chyba2.class
/Chyba4.class
/Chyba5.class
/Chyba6.class
/Chyba7.class
/Chyba8.class
/Cvicenie1.class
/Druhy.class
/Fibonacci.class
/Gulicka.class
/Gulicka1.class
/Gulicka2.class
/Gulicka3.class
/Gulicka4.class
/Gulicka5.class
/Input.class
/Komentare.class
/Konstanta.class
/Konstanty.class
/LokalnaGulicka.class
/Prvy.class
/Puzzle.class
/Riesenia1.class
/Switch.class
/Vstup.class
/Vystup.class
/chyba3.class
/WarmUp01$Dog.class
/WarmUp01.class
/Hadanka.class
/AoC3.class
/Aoc4.class
/AoC5.class
/Aoc6.class
/Aoc7.class
/Aoc8.class
/Aoc9.class
/AoC1é.class
/AoC10.class
/Aoc11.class
/AoC12.class
/Aoc12.class
/AoC13.class
/AoC14.class
/AoC15.class
/Aoc15.class
/AoC16.class
/AoC17.class
/AoC18.class
/AoC18_1.class
/AoC19.class
/AoC20.class
/AoC21.class
/AoC22.class
/AoC23.class
/AoC24.class
/AoC25.class
/TestJava9.class
